@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Leon.ID@QQ.com">Leon.ID@QQ.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/CuteLeon/SignalR">https://github.com/CuteLeon/SignalR</a>
</address>
